*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: letra;
    src: url(fonts/The\ Billion.otf);
}
@font-face {
    font-family: titulos;
    src: url(fonts/Howdy\ Lemon.ttf);
}
body{
    overflow-x: hidden;
}
.contenedor{
    width: 100vw;
    height: 59rem;
    background-color: #FEFBBA;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name{
    width: 100vw;
    padding-top: 5rem;
    height: auto;
    text-align: center;
    font-family: letra;
    font-size: 5rem;
    color: #4CB4F0;
}
.barraFija{
    width: 98vw;
    display: flex;
    align-items: center;
    height: 7rem;
    position: fixed;
    justify-content: space-evenly;
}
.cinaFija{
    width: 7rem;
    height: 7rem;
}
.link{
    text-decoration: none;
}
.uno{
    color: #000000;
    font-size: 1.3rem;
}
.uno:hover{
    animation: 2s;
    font-size: 1.3rem;
    border-bottom: 0.1vw solid #4CB4F0;
}
.botones{
    width: 80vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.trabajos{
    width: 15vw;
    border-radius: 30px;
    height: 8vw;
    background-color: #F6D4E3;
}