body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}
#contPrincipal{
    background-color: #26282a;
    width: 100vw;
    height: 29rem;
}
#contBlanco{
    width: 100vw;
    position: absolute;
    top: 11vw;
    display: flex;
    justify-content: center;
}
#ContDatos{
    background-color: #fefefe;
    width: 60vw;
    border-radius: 5px;
}
#contRaya{
    background-color: #f7f7f7;
    height: 12rem;
    border-bottom: 1px solid #ededed;
    border-radius: 5px ;
}
#Contfoto{
    margin-top: -7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img{
    width: 10rem;
    height:10rem;
    border-radius: 50%;
    background-color: white;
    padding: 4px;
    border: 2px solid #ededed;
}
#introName{
    text-align: center;
    margin-top: 1.6rem;
    color: #b6b6b6;
    font-size: clamp(1rem, 3vw, 1.5rem);
}
#name{
    text-align: center;
    margin-top: 1rem;
    font-size: clamp(1.5rem, 3vw, 2rem);
}
#Icons{
    margin: 0 auto;
    width: 40vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#imagen{
    background-image: url(/trabajosDias/Dia11/img/card_icons.png);
    width: 5rem;
    height: 6.1rem;
    transform: scale(0.6);
    background-position-x: -0.5rem;
    background-position-y: 6.1rem;
}
#imagen2{
    background-image: url(/trabajosDias/Dia11/img/card_icons.png);
    width: 5rem;
    height: 6.1rem;
    transform: scale(0.6);
    background-position-x: -8rem;
    background-position-y: 6.1rem;
    
}
#imagen3{
    background-image: url(/trabajosDias/Dia11/img/card_icons.png);
    width: 5rem;
    height: 6.1rem;
    transform: scale(0.6);
    background-position-x: -16rem;
    background-position-y: 6.1rem;
    
}
#imagen4{
    background-image: url(/trabajosDias/Dia11/img/card_icons.png);
    width: 6.1rem;
    height: 6rem;
    transform: scale(0.6);
    background-position-x: -24rem;
    background-position-y: 6rem;
    
}
#imagen5{
    background-image: url(/trabajosDias/Dia11/img/card_icons.png);
    width: 5rem;
    height: 6.1rem;
    transform: scale(0.6);
    background-position-x: -34rem;
    background-position-y: 6.1rem;
    
}
#imagen6{
    background-image: url(/trabajosDias/Dia11/img/card_icons.png);
    width: 5rem;
    height: 6.1rem;
    transform: scale(0.6);
    background-position-x: 6rem;
    background-position-y: 6.1rem;
    
}
#imagen:hover{
    background-position-y: -0.1vw;
    transform: scale(0.6);
    transition: 0.3s;
}
#imagen2:hover{
    background-position-y: -0.1vw;
    transform: scale(0.6);
    transition: 0.3s;
}
#imagen3:hover{
    background-position-y: -0.1vw;
    transform: scale(0.6);
    transition: 0.3s;
}
#imagen4:hover{
    background-position-y: -0.1vw;
    transform: scale(0.6);
    transition: 0.3s;
}
#imagen5:hover{
    background-position-y: -0.1vw;
    transform: scale(0.6);
    transition: 0.3s;
}
#imagen6:hover{
    background-position-y: -0.1vw;
    transform: scale(0.6);
    transition: 0.3s;
}