* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

/* CONTENEDOR PRINCIPAL */
#contenedor{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top,  #e4f2fd 0%, #abd5fa 49%, #73bbf6 100%);
    position: relative;
}

/* CONTENEDOR INPUT */
.contEnter{
    width: 360px;
    display: flex;
    margin-top: -200px;
    flex-direction: column;
    align-items: flex-end;
    padding: 15px;
    gap: 10px;
    position: relative;
    z-index: 2;
}

/* INPUT */
#enter{
    width: 200px;
    height: 30px;
    margin-bottom: 30px;
    box-shadow: -6px 5px 0px 0px rgba(93, 93, 93);
    border-radius: 5px;
    border: none;
    padding: 5px;
}

/* BOTONES */
#uno,#dos{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    background-color: #424242;
    color: white;
    font-size: 12px;
    box-shadow: -6px 5px 0px 0px rgba(25, 25, 25);
    cursor: pointer;
}

/* CONTENEDOR BOTONES */
.contEnter div{
    display: flex;
    gap: 10px;
}

/* IMAGEN PRINCIPAL */
#poke{
    width: 254px;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 45%;
    left: 49%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* NOMBRE */
#name{
    position: absolute;
    top: 61%;
    left: 55%;
    transform: translateX(-50%);
    width: auto;
    text-align: center;
}

#text1{
    font-size: 14px;
}

/* IMÁGENES GENERALES */
.imagen{
    max-width: 100%;
}

/* 📱 RESPONSIVE */
@media (max-width: 768px) {

    .contEnter{
        width: 90%;
        align-items: center;
    }

    #enter{
        width: 80%;
    }

    #uno, #dos{
        width: 120px;
    }

    #poke{
        width: 150px;
        top: 40%;
    }

    #name{
        top: 65%;
    }
}